
<!DOCTYPE html>

<html>
{% block stylesheets %}
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
              <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
           <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
             <script src="{{ asset('js/jquery.min.js') }}"></script>
             <script src="{{ asset('js/bootstrap.js') }}"></script>
       
 <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        
        .jumbotron {
            margin-bottom: 0;
            margin-top: 15;
        }
        
        
        .navbar {
            margin-bottom: 5px;;
            border-radius: 0;
            padding-left: 400px;
            font-size: 20px;
            
             background-color:#696969;
             
        }
        /* Add a gray background color and some padding to the footer */
        
       
        
        .carousel-inner img {
            width: 100%;
            /* Set width to 100% */
            margin: auto;
            height: 70px;
        }
        /* Hide the carousel text when the screen is less than 600 pixels wide */
        
        @media (max-width: 00px) {
            .carousel-caption {
                display: none;
                width
            }
            #center{
                font-size:12px;
            }
        }
                
    </style>
    </head>
    {% endblock %}
   {% block body %}

<body>

{% block header %}
<div class="container">
<div>
  <img src="{{asset('image/téléchargement.png')}}" alt="" /> 
 
</div>
 {% endblock %}




{% block nav %}

    <nav class="navbar navbar-inverse" style="height:20px">
        <div class="container-fluid">

            <div class="collapse   navbar-collapse" id="myNavbar" >
                <ul class="nav navbar-nav " id="centrer">
                    <li ><a href="#" style="color:white;font-size:16px;">Accueil</a></li>
                    <li><a href="#" style="color:white;font-size:16px;">Nos Biens</a></li>
                    <li><a href="#" style="color:white;font-size:16px;">A Propros</a></li>
                    <li><a href="#" style="color:white;font-size:16px;">Mon Compte</a></li>
                </ul>

            </div>
        </div>
    </nav>
    {% endblock %}

 {% block search %}
    <form method="post">
<div class="form-group " style="width:900px; display:flex; margin-left:493px; " >
    <div class="form-group">
    <div class="icon-addon addon-sm">

        <select class="form-control input-sm" name="localite">
         <option placeholder="choisir une localité"></option>
                 {% for localite in localites %}
                    <option value="{{ localite.id }}">{{ localite.libelleloca }}</option>
                    {% endfor %}
        </select>
        <i class="icon icon-search"></i>
    </div>
    
</div><br>
     <div class="form-group" style="margin-top:-20">
    <div class="icon-addon addon-sm">
        <select class="form-control input-sm" name="typebien">
          <option value>choisir un type de bien</option>
              {% for type in types %}              
                 <option value="{{ type.id }}"> {{type.libelletype}} </option>
            {% endfor %}
        </select>

        
        <i class="icon icon-search"></i>
    </div>
</div>
    &nbsp;&nbsp;&nbsp;

    <input type="text" placeholder="prix " name="prix_loc" class="form-control left-rounded" 
    style="width:120px">

&nbsp;&nbsp;&nbsp;


    <i class="icon icon-search"></i>
        <span class="input-group-btn">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Recherche">Recherche</button>
        </span>
</div>
</form>
  {% endblock %}

   {% block content %}
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{{asset('image/img.jpg')}}" alt="Image">

      </div>

      <div class="item">
        <img src="{{asset('image/Senegalnew.jpg')}}" alt="Image">
        
        
      </div>

      <div class="item">
        <img src="{{asset('image/tof.JPG')}}" alt="Image">
      
      </div>

      <div class="item">
        <img src="{{asset('image/img1.jpg')}}" alt="Image">
      
      </div>
   </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

  {% endblock %}   
  
    {% block contact %}  {% endblock %}
 {% endblock %}
 
   {# {% block footer %}
  <footer>
 <div class="row" >
 <div class="col-sm-12 " style="width:900%; height:300px;margin-top:400px;background:black;margin-rigth:500px;">
 sxjbnefrgiezhd
 </div>
 </div>
   
  </footer>
  {% endblock %} #}
    {% block javascripts %}{% endblock %}
  </body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{# <script src="{{asset('js/map.js')}}"></script> #}
</html>