{% extends "::back.html.twig" %}
{% block recharge %}
<div class="container" id="container"style="margin-top:50px;">
      
<table class="table" id="myTable" >
  <thead>
    <tr>
      <th>Id_Bien</th>
      <th>Nom_Bien</th>
      <th>Description</th>
      <th>Prix_Location</th>
        <th>Type_Bien</th>
          <th>Localite</th>
      <th>Image</th>
    </tr>
  </thead>{%for bien in biens %}
<tr>
<td>{{bien.id}}</td>
<td>{{bien.nombien}}</td>
<td>{{bien.description}}</td>
<td>{{bien.prix_loc}}</td>
<td>{{bien.typebien.libelletype}}</td>
<td>{{bien.localite.libelleloca}}</td>
 <td><img class="card-img-top" src="{{ asset('image/')}}{{ bien.images[0].image }}" alt="Card image cap" style="width:100px;"></td>
{% endfor %}
</tr>
</table>

{% block head %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/datatables.css') }}">

{% endblock %}

{% endblock %}







{% block javascript %}
  <script src="{{ asset('js/jquery.js') }}"></script>
  <script src="{{ asset('js/datatables.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/liste.js') }}"></script>
{% endblock %}

 
{% endblock %}


