{% extends "::base.html.twig" %}
{% block body %}

    <div class="jumbotron text-center">
  <h1>Immobilier De Luxe</h1>
  <p>Terme du contrat!</p> 
</div>
  
<div class="container">
  <div class="row" style="width:300px;margin-left:300px;margin-top:-100px;">
    <div class="col-lg-12">
    
   <div class="card">
     <div class="card-header">
      Therme du contrat
     </div>
     <div class="card-body">
       <h4 class="card-title">Title</h4>
       <p class="card-text"> 
       {{reservation.client.nomclient}}
         {{reservation.client.telclient}}
         {{reservation.client.adresseclient}}        
          {{reservation.client.emailclient}}
        
         {{reservation.bien.localite.libelleloca}}
         {{reservation.bien.typebien.libelletype}}</p>
         {% for text in texts %}
         <p>{{text.text}}</p>
         {% endfor %}
         <form method="post">
         <ul>
        <li> <b>Caution:</b><input name="caution"type="number"value="{{reservation.bien.prix_loc}}"></li>
       <li> <b> Mensualité:</b><input name="mensualite"type="number"value="{{reservation.bien.prix_loc}}"></li>
       <li><b>Total:</b><input name="total"value="{{reservation.bien.prix_loc *2}}"></li>
       <strong>
    <input type="checkbox" name="duree"> contrat d'une durée d'un an renouvelable
    </strong><br>
     </div>
     {# <div class="card-footer text-muted"> #}
  
       {# <input type="radio" name="radio"value="">Accepter</input>
         <input type="radio" name="radio" value="">Refuser</input><br>
         <a href="{{path('pdf', {'id':reservation.id})}}"> <input class="btn btn-info" type="submit" name="submit" value="Enregistrer" id="enregister"  ></a> #}
    </form>
     </div>
   </div>
   
    </div>
</div>
{# <p> <a href="{{path('pdf0', {'id':reservation.id})}}">Imprimer</a></p> #}
  </div>
{% endblock %}
