{# {% extends "::base.html.twig" %} #}
{# {% block body %} #}
<!doctype html>
<html lang="en">
  <head>
   
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="container">
<div class="row">
  <div class="col-sm-12">
  <table  style=" width:500px;height:85px;margin-left:100px;">
   <tr><td ><strong style="font-size:32px;position:relative;margin-left:100px;">Terme du Contrat</strong></td>
   </tr>
   </table>
  </div>  
  </div> 
  <div class="row" style="margin-top:50px;"> 
    <div class="col-sm-12" >
    <p>Les parties soussignées</p>
   <p> 1.La société Immobilier De Luxe ayant son siége social à Amétié 3 </p>
   <p>représenté par Mr Diafar Gueye</p>
   <p>Ci-aprés désigné l'agent;</p>
   <p>et</p>
   <p>2. Madame/Monsieur {{reservation.client.nomclient}} demeurant à
   {{reservation.client.adresseclient}}</p>
   <p>Ci-aprés désigné(e) le/la locataire;</p>
   <p>ont conclu le présent <b>CONTRAT DE LOCATION A DURÉE D'UN ANS RENOUVELABLE</b></p>
    <div class="row">
     <div class="col-sm-12">  
          <p><b><u>Préambule</u></b></p>
          <p> {{reservation.bien.typebien.libelletype}}</p>
          <p>avec {{reservation.bien.description}}</p>
          <p>qui se trouve à {{reservation.bien.localite.libelleloca}} lui a été loué(e) au prix de {{ reservation.bien.prix_loc}} Fcfa</p>
      </div>
    <div class="row">
    <div class="col-sm-12">
        <p><b>Caution:</b>{{reservation.bien.prix_loc}}</p>
        <p><b>Mensualité:</b>{{reservation.bien.prix_loc}}</p>   
        <p style="margin-left:200px;margin-top:-60px;"><b>Total:</b>{{reservation.bien.prix_loc *2}}</p>
          <a href="{{path('pdf0', {'id':reservation.id})}}" class="btn btn-info" >Save</a>
       
   </div>
  
    </div>
    </div>
{# 
      
        
         {{reservation.bien.localite.libelleloca}}
         {{reservation.bien.typebien.libelletype}}</p>
         {% for text in texts %}
         <p>{{text.text}}</p>
         {% endfor %}
         <form method="post">
         <ul>
        <li> <b>Caution:</b><input name="caution"type="number"value="{{reservation.bien.prix_loc}}"></li>
       <li> <b> Mensualité:</b><input name="mensualite"type="number"value="{{reservation.bien.prix_loc}}"></li>
       <li><b>Total:</b><input name="total"value="{{reservation.bien.prix_loc *2}}"></li>
       <strong>
    <input type="checkbox" name="duree"> contrat d'une durée d'un an renouvelable
    </strong><br>
     </div>
     {# <div class="card-footer text-muted"> #}
  
       {# <input type="radio" name="radio"value="">Accepter</input>
         <input type="radio" name="radio" value="">Refuser</input><br>
         <a href="{{path('pdf', {'id':reservation.id})}}"> <input class="btn btn-info" type="submit" name="submit" value="Enregistrer" id="enregister"  ></a> #}

  </div>
  </body>
</html>
{# {% endblock %} #}
