{% extends "::back.html.twig" %}
{% block recharge %}
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <table border="1" style=" width:500px;height:85px;margin-left:100px;"> 
          <tr>
          <td ><strong style="font-size:16px;position:relative;margin-left:150px;">Enregistrement du Contrat</strong></td>
        </tr>
        </table>
        </div>  
      </div> 
                <div class="row" style="margin-top:50px;"> 
                     <div class="col-lg-12" >
                          <p>Les parties soussignées</p>
                          <p> 1.La société Immobilier De Luxe ayant son siége social à Amétié 3 </p>
                          <p>représenté par Mr Diafar Gueye</p>
                          <p>Ci-aprés désigné l'agent;</p>
                          <p>et</p>
                          <p>2. Madame/Monsieur {{reservation.client.nomclient}} demeurant à
                              {{reservation.client.adresseclient}}
                          </p>
                          <p>Ci-aprés désigné(e) le/la locataire;</p>
                          <p>ont conclu le présent <b>CONTRAT DE LOCATION A DURÉE D'UN ANS RENOUVELABLE</b></p>
                      </div>
                </div>
                              <div class="row">
                                  <div class="col-lg-12">  
                                        <p><b><u>Préambule</u></b></p>
                                        <p> {{reservation.bien.typebien.libelletype}}</p>
                                        <p>avec {{reservation.bien.description}}</p>
                                        <p>qui se trouve à {{reservation.bien.localite.libelleloca}} 
                                            lui a été louée au prix de {{ reservation.bien.prix_loc}} Fcfa
                                        </p>
                                    </div>
                              </div>
                              {#
         {% for text in texts %}
          </textarea> {{text.text}}</textarea>
         {% endfor %}
          #}
                                   <div class="row">
                                       <div class="col_lg-12">
                                           <form method="post">
                                               <ul>
                                                  <li style="list-style:none">
                                                      <b>Caution:</b><input name="caution"type="number"value="{{reservation.bien.prix_loc}}">
                                                  </li>
                                                  <li  style="list-style:none"> 
                                                      <b> Mensualité:</b><input name="mensualite"type="number"value="{{reservation.bien.prix_loc}}">
                                                  </li>
                                                   <li  style="list-style:none">
                                                    <b>Total:</b><input name="total"value="{{reservation.bien.prix_loc *2}}">
                                                  </li>
                                                  <li  style="list-style:none">
                                                    <b>Total:</b><input name="idbien" type="hidden"value="{{reservation.bien.id}}">
                                                  </li>
                                                </ul>
                                                       <strong>
                                                         <input type="checkbox" name="duree" value=""> contrat d'une durée d'un an renouvelable"</input>
                                                       </strong><br>
     
     {# <div class="card-footer text-muted"> #}
                                                <input type="radio" name="nancy"value="" id="acc">Accepter</input>
                                                <input type="radio" name="nancy" value="" id="ref">Refuser</input>
                                                <input class="btn btn-info"  type="submit" name="enregistrer" value="Enregistrer" id="enregistre" disabled="disabled"  >
                                                 <a href="{{path('pdf', {'id':reservation.id})}}" class="btn btn-info" >EN Pdf</a>
         
                                           </form>
                                       </div>
                                  </div>
   
   
              </div>

  
  <script>
$(document).ready(function(){
    $("input[name=nancy]").on("change",function(){
        if($("#acc").is(':checked')){
        // alert('checked');
       $("#enregistre").removeAttr('disabled');
    }
    }); 
     });
</script>
{% endblock %}
