{% extends "::back.html.twig" %}
{% block recharge %}
<div class="container" id="container"style="margin-top:50px;">
      <div class="formtype">
      {{ form (form)}}
      </div>
      <div class="row">
            <div class="col_md-12 ">
            <form >
            <input  type="submit"name="submit" value="Enregistrer"class="btn btn-primary formtype" style="margin-left:70%;">
            <input   type="submit"name="submit" value="Annuler"class="btn btn-primary formtypel" style="margin-left:10px;">
            </form>
            </div>
            </div><br>
<table class="table" id="myTable" >
  <thead>
    <tr>
      <th>id</th>
      <th>Nom type</th>
      
    </tr>
  </thead>{%for type in types %}
<tr>
<td>{{type.id}}</td>
<td>{{type.libelletype}}</td>

{% endfor %}
</tr>
</table>

{% block head %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/datatables.css') }}">

{% endblock %}

{% endblock %}







{% block javascript %}
  <script src="{{ asset('js/jquery.js') }}"></script>
  <script src="{{ asset('js/datatables.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/liste.js') }}"></script>
{% endblock %}

 
{% endblock %}


