
{% extends "::base.html.twig" %}

{% block title %}GSTImmobilierBundle:DefaultController:index{% endblock %}

{% block body %}




<div class="container">
  <img src="{{asset('image/téléchargement.png')}}" alt="" /> 
 
</div>



<br/>



{% block nav %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <ul class="navbar navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" href="#">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" href="#">Nos bien</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" href="#">A propros</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" href="#">Mon compte</a>
    </li>
     
  </ul>
 
</nav>
{% endblock %}




{% block search %}
<div class="container text-center">
<nav class="navbar navbar-light bg-faded">
<form method="post">
  <div class="form-group" style="margin-left:300px; width:1500px; padding-top:10px;" >
    <div class="input-group input-group-sm icon-addon addon-sm" style="margin-left:120px; width:500px; padding-top:10px;">
        <input type="text" placeholder="saisissze votre prix"style="text-align:center" name="prixLoc" id="schbox" class="form-control input-sm">
       
    </div>
</div>
 
<div class="form-group " style="width:900px; display:flex; margin-left:500px; " >
    <div class="form-group">
    <div class="icon-addon addon-sm">
    <form method="post">
     <input type="text"style="text-align:center" name="localite" id="schbox" class="form-control input-sm">

        <select class="form-control input-sm" >
         <option placeholder="choisir une localité"></option>
                 {% for localite in localites %}            
                 <option > {{localite.libelleloca}} </option>
                  {% endfor %}
        </select>
        <i class="icon icon-search"></i>
    </div>
    </form>
</div>&nbsp;&nbsp;
     <div class="form-group">
    <div class="icon-addon addon-sm">
        <select class="form-control input-sm">
          <option placeholder="choisir un type de bien"></option>
              {% for type in types %}              
                 <option > {{type.libelletype}} </option>
            {% endfor %}
        </select>
        <i class="icon icon-search"></i>
    </div>
</div>
    &nbsp;&nbsp;&nbsp;

  
</select>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Recherche">Recherche</button>

  </form>
</nav>
    </div>
{% endblock %}




{% block image %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{{asset('image/img.jpg')}}" alt="Image">

      </div>

      <div class="item">
        <img src="{{asset('image/Senegalnew.jpg')}}" alt="Image">
        
        
      </div>

      <div class="item">
        <img src="{{asset('image/img3.jpg')}}" alt="Image">
      
      </div>

      <div class="item">
        <img src="{{asset('image/img1.jpg')}}" alt="Image">
      
      </div>
   </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  
<div class="container text-center">
<br/>
  <div class="row">
  <div class="col-sm-3">
    	<div class="widget">
								<h2 class="mg-widget-title">Contactez-nous</h2>
								<address>
									<strong>Immobilier de luxe</strong><br>
									Rue-Aline Sitoe Diatta<br>
								</address>
				
								<p>
									Tel : 221 33 000 21 40
                  Email : immoluxe@gmail.com
								</p>
		<strong>Service disponible</strong><br>
Du Lundi au Vendredi <br>
De 9H à 19H
								<p>
								
								</p>
							</div>
    </div>


      {# {% extends "::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 bg-light">
            <h4 style="font-family:Goudy; color:grey">Que rechercher vous?</h4>
            <div class="container">
                <form class="form-inline">
                    <div class="form-group mx-sm-1 mb-2">
                        <input type="text" class="form-control" id="inputPassword2" placeholder="Entrer juste un nom">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
                </form><br>
                <h3 style="font-family:Goudy; color:grey"><i>Nos meilleurs offres</i></h3>
                <ul class="list-group list-group-flush">
                    {% for type in types %}
                    <li class="list-group-item"><a href="#">{{ type.libelle }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-8">
            <div class="container">
                    <p>
                        <h1 style="font-family:Goudy Old style;">
                            <center style="font-family:Goudy; color:grey"><i>Nos meilleurs produits partout dans le monde!</i></center>
                        </h1>
                    </p>
                    <div class="card-columns" id="list">
                        {% for bien in biens %}
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('image/')}}{{ bien.images[0].image }}" alt="Card image cap">
                            <div class="card-body bg-light">
                                <h4 style="font-family:Goudy; color:grey" class="card-title"><center>{{ bien.nomBien }}</center></h4>
                                <p class="card-text">
                                    <p><B>Prix: </B><span class="text-primary">{{ bien.prixLocation }}</span></p>
                                    <p><B>Localité: </B>{{ bien.localite.libelle }}</p>
                                </p>
                                <a href="{{path('detail', {'id':bien.id})}}" class="btn btn-primary col-12">voir les details</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>
<br> #}

{% endblock %}
{% block javascripts %}
<script src="{{asset('js/jquery.js')}}"></script>
<script src="{{asset('js/scriptAccueil.js')}}"></script>
{% endblock %}

</div><br>

{% endblock %}




{% block footer %}
<footer class="container text-center">
<footer class="mg-footer">
			<div class="mg-footer-widget">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
						<div class="widget">
								<h2 class="mg-widget-title">Instagram</h2>
								<ul class="mg-instagram">
									<li><a href="#"><img src="{{asset('image/1.png')}}" alt=""></a></li>
									<li><a href="#"><img src="{{asset('image/2.png')}}" alt=""></a></li>
									<li><a href="#"><img src="{{asset('image/3.png')}}" alt=""></a></li>
									<li><a href="#"><img src="{{asset('image/4.png')}}" alt=""></a></li>
								
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget">
								<h2 class="mg-widget-title">En partenariat</h2>
								
        <img src="{{asset('image/logo-orange.png')}}" alt="Image"></div>
						</div>  
							<div class="widget">
								<h2 class="mg-widget-title">Réseaux Sociaux</h2>
								<p>Suivez-nous sur les réseaux sociaux.</p>
								<ul class="mg-footer-social">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mg-copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>&copy; 2018 <a href="http://www.sonatelacademy.sn">Immobilier de luxe</a>. tout droits reservés.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

</footer>
{% endblock %}

{% endblock %}


