{% extends "::layout.html.twig" %}
 
{% block title %}GSTImmobilierBundle:Front:reserver{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">MAISON</div>
        <div class="panel-body"><img src="{{asset('image/41492.jpg')}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">King immo met à votre disposition cette magnifique maison disposant 4 chambres, salon; salle à manger, 4 salles de bain, garages, 2 cuisines.......</div>
      <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">reserver</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>reservation prise en charge</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">VILLA</div>
        <div class="panel-body"><img src="{{asset('image/916443_1.jpg')}} " class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Villa à louer à Keur Massar composée de 3 chambres salon dont 2 salles de bain avec 2 toilettes extérieurs cuisine.</div>
      <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">reserver</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">APPARTEMENT</div>
        <div class="panel-body"><img src="{{asset('image/vente-appartement-saly diaksao-senegal-02.jpg')}} " class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">reserver</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>reservatin prise en charge</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">STUDIO</div>
        <div class="panel-body"><img src="{{asset('image/location-vacance-a-dakar.jpg')}} " class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">reserver</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>reservatin prise en charge</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">MAISON</div>
        <div class="panel-body"><img src="{{asset('image/7410418-11415840.jpg')}} " class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Louer cette superbe villa au virage une maison composée de 5 chambres avec placards 3 salles de bains WC garage cour 2 cuisines 2 salons petit jardin.</div>
<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">reserver</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>reservatin prise en charge</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">APPARTEMENT</div>
        <div class="panel-body"><img src="{{asset('image/72608.jpg')}} " class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">il se compose d'un grand hall d’entrée, w.c visiteur, d'une cuisine équipée, buanderie, d'un beau séjour avec petite terrasse, de 2 grandes chambres d'enfants avec salle d'eau attenante et placards, et d'une grande chambre principale avec grande terrasse privative, dressing et salle de bain.</div>
<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">reserver</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>reservatin prise en charge</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>      </div>
    </div>
  </div>
</div><br><br>
        {% endblock %}

