{% extends "::layout.html.twig" %}
 
{% block title %}GSTImmobilierBundle:Front:reserver{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">MAISON</div>
        <div class="panel-body"><img src="{{asset('image/41492.jpg')}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <a href="/Immobilier/web/app_dev.php/Immobilier/front/bien/login" class="btn btn-primary">Reserver</a>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">VILLA</div>
        <div class="panel-body"><img src="{{asset('image/916443_1.jpg')}} " class="img-responsive" style="width:100%" alt="Image"></div>
        <a href="/Immobilier/web/app_dev.php/Immobilier/front/bien/login" class="btn btn-primary">Reserver</a>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">APPARTEMENT</div>
        <div class="panel-body"><img src="{{asset('image/vente-appartement-saly diaksao-senegal-02.jpg')}} " class="img-responsive" style="width:100%" alt="Image"></div>
        <a href="/Immobilier/web/app_dev.php/Immobilier/front/bien/login" class="btn btn-primary">Reserver</a>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">STUDIO</div>
        <div class="panel-body"><img src="{{asset('image/location-vacance-a-dakar.jpg')}} " class="img-responsive" style="width:100%" alt="Image"></div>
        <a href="/Immobilier/web/app_dev.php/Immobilier/front/bien/login" class="btn btn-primary">Reserver</a>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">MAISON</div>
        <div class="panel-body"><img src="{{asset('image/7410418-11415840.jpg')}} " class="img-responsive" style="width:100%" alt="Image"></div>
        <a href="/Immobilier/web/app_dev.php/Immobilier/front/bien/login" class="btn btn-primary">Reserver</a>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">APPARTEMENT</div>
        <div class="panel-body"><img src="{{asset('image/72608.jpg')}} " class="img-responsive" style="width:100%" alt="Image"></div>
        <a href="/Immobilier/web/app_dev.php/Immobilier/front/bien/login" class="btn btn-primary">Reserver</a>
      </div>
    </div>
  </div>
</div><br><br>
        {% endblock %}

