{% extends "::base.html.twig" %}

{% block title %}GSTImmobilierBundle:Front:searchBien{% endblock %}

{% block body %}

<table class="table ">
<thead class="thead-inverse">
<tr >
<th scope="row">id</th>
<th>login</th>
<th>nomcomplet</th>
<th>datenais</th>
<th>Edition</th>
<th>Suppression</th>
<th>Etat</th>
</tr>
</thead>
{%for bien in biens%}
<tr>
<td>{{bien.nombien}}</td>
<td>{{bien.etat}}</td>
<td>{{bien.description}}</td>
<td>{{bien.prix_loc}}</td>
<td>{{bien.localite}}</td>
<td>{{bien.typebien}}</td>
{% endfor %}
</tr>
</table>
{% endblock %}

